// Bourbon: A mixin library and front-end framework for Sass
// Bourbon Neat: A grid system built on top of Bourbon
// Bourbon Bitters: A basic set of of Sass variables, default element styles and project structure
@import "bourbon", "neat", "bitters/base";

// Jeet: The grid system for humans. -- an alternative grid system to Bourbon Neat.
@import 'jeet';

html, body {
  background: gray;
}

.page-sample {
  @include center(100%);
  margin: 5vh;
  padding: 2rem;
  height: 90vh;
  background: white;
}
