// Bourbon: A mixin library and front-end framework for Sass
// Bourbon Neat: A grid system built on top of Bourbon
// Bourbon Bitters: A basic set of of Sass variables, default element styles and project structure
@import "bourbon", "neat", "bitters/base";

// Jeet: The grid system for humans. -- an alternative grid system to Bourbon Neat.
@import 'jeet';

.logo-container {
    width: 255px;
    height: 242px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .logo {
    position: absolute;
  }
