head
  block head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Website Scaffolding
    meta(name='author' content='Jonathan Miller')
    meta(name='description' content='A good starting point for building new websites')
    meta(name='keywords' content='')

    include _favicon
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/quasar-framework@latest/dist/umd/quasar.ios.min.css')
    link(rel='stylesheet' type='text/css' href='/assets/styles/app-min.css')
