extends ../partials/_global

append vars
  - var headerClass = '';
  - var contentClass = '';
  - var footerClass = '';

append body-content
  
  section(class='page-sample')
    h1 Something great can start right here.
    
    p This project is a good starting point for quickly building a modern, responsive website.
