extends ../partials/_global

append vars
  - var headerClass = '';
  - var contentClass = '';
  - var footerClass = '';

append body-content
  
  section(id='app' class='page-sample')
    h1 {{ title }}
    p {{ description }}
